@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

@import "icons.scss";

$fontFamily: "gilroy";
$fontSize: 16;
//______________________________________________________________________________

* {
    box-sizing: border-box;
}

.block {
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    font-size: 50px;
    display: flex;
    background-color: green;
    border: 2px solid blue;
    padding: 1px;
    align-content: center;
    .block__in {
        width: 15%;
        height: 150px;
        display: block;
        margin-bottom: 20px;
        background-color: yellow;
        border: 1px solid black;
        order: 5;
        flex-grow: 3;
    }
}
.bottom {
    background-color: pink;
}
