@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "null";
@import "fonts";

@import "icons";

$fontFamily: "gilroy";
$fontSize: 16;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$greyColor: #898989;
$darkgreyColor: #616161;
//______________________________________________________________________________

body {
    color: $mainColor;
    font-family: $fontFamily;
    font-size: $fontSize + px;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}

._container {
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
}
