@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "null";
@import "fonts";

@import "icons";

$fontFamily: "gilroy";
$fontSize: 16;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$greyColor: #898989;
$darkgreyColor: #616161;
//______________________________________________________________________________

body {
    color: $mainColor;
    font-family: $fontFamily;
    font-size: $fontSize + px;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}

._container {
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    // .header__wrapper

    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: center;
        padding: 5px 0;
        min-height: 125px;
    }

    // .header__main

    &__main {
        display: flex;
        flex: 0 0 494/1240 * 100%;
    }

    // .header__logo

    &__logo {
        color: #000;
        font-weight: 700;
        font-size: 24px;
        line-height: 29/24 * 100%;
    }

    // .header__menu

    &__menu {
    }

    // .header__search

    &__search {
    }

    // .header__actions

    &__actions {
    }
}

// ._container

._container {
}

// ._icon-arrow-down

._icon-arrow-down {
}

// ._icon-search

._icon-search {
}

// ._icon-favorite

._icon-favorite {
}

// ._icon-cart

._icon-cart {
}

// ._ibg

._ibg {
}

.menu {
    flex: 0 1 420px;
    // .menu__body

    &__body {
    }

    // .menu__list

    &__list {
    }

    // .menu__item

    &__item {
    }

    // .menu__link

    &__link {
    }

    // .menu__arrow

    &__arrow {
    }

    // .menu__sub-list

    &__sub-list {
    }

    // .menu__sub-item

    &__sub-item {
    }

    // .menu__sub-link

    &__sub-link {
    }
}
.search-form {
    // .search-form_icon

    &_icon {
    }

    // .search-form__item

    &__item {
    }

    // .search-form__btn

    &__btn {
    }

    // .search-form__input

    &__input {
    }
}
.actions-header {
    // .actions-header__item

    &__item {
        // .actions-header__item_favorites

        &_favorites {
        }

        // .actions-header__item_user

        &_user {
        }
    }
}
.cart-header {
    // .cart-header__icon

    &__icon {
    }

    // .cart-header__body

    &__body {
    }

    // .cart-header__list

    &__list {
    }
}
.cart-list {
}
.icon-menu {
}
